.auth-buttons {
    display: flex;
    align-items: center;
    gap: 16px;
}

.btn {
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}

.btn-primary {
    background-color: #2196F3;
    color: #FFFFFF;
}


.btn-secondary {
    background-color: transparent;
    color: #1F2937;
    border: 2px solid #E5E7EB;
}

.button-back{
    font-size: 16px;
    background-color: #2196F3;
    color: #FFFFFF;
    border: none;
    padding: 4px;
    cursor: pointer;
}

.btn-center {
    display: flex;
    justify-self: center;
}

@media (max-width: 500px) {
    .btn-primary{
        padding: 10px 4px;
        font-size: 12px;
    }
}