.search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
}

.search-input {
    font-size: 16px;
}
.search-button {
    font-size: 16px;
    cursor: pointer;
}

.search-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
    padding-top: 40px;
}

