* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: inherit;
}

.error{
    color: red;
    font-size: 14px;
    margin-top: 4px;
}

html, body {
    font-family: "Work Sans",  "Roboto Light", "Noto Sans", "sans-serif";
}

.welcome-text{
    display: flex;
    align-items: center;
    gap: 8px;
}

.hover-pointer:hover {
    cursor: pointer;
}

.loading-details {
    text-align: center;
    padding: 40px;
}

