.books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}
.book-decoration{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 4px;
    box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.58);
}

.book-tilt-text{
    font-size: 24px;
}

.book-author-text{
    font-size: 16px;
    color: #F5F7FA;
}
.book-year{
    font-size: 16px;
}
.book-button {
    font-size: 16px;
    cursor: pointer;
    background-color: #2196F3;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
}

.book-img {
    width: 180px;
    height: 270px;
}
