.books-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-bottom: 60px;
    margin-top: 30px;
}
.book-decoration{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    box-shadow: 8px 8px 16px 0 #979797, 0 6px 20px 0 #979797;
}

.book-tilt-text{
    font-size: 24px;
    padding-left: 24px;
}

.book-author-text{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 10px;
}
.book-year{
    font-size: 16px;
}
.book-button {
    font-size: 16px;
    cursor: pointer;
    background-color: #2196F3;
    color: #FFFFFF;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-bottom: 10px;
}

.book-img {
    width: 180px;
    height: 270px;
}

.book-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4px;
    width: 850px;
    height: 70vh;
    margin-bottom: 30px;
    box-shadow: 8px 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.58);
}

.book-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.book-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 4px;
}

.book-description{
    font-size: 16px;
    margin-top: 10px;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}