.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
    padding: 8px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.navbar-text{
    font-size: 16px;
    cursor: pointer;
}
.navbar-text:hover {
    text-decoration: underline solid 2px #2196F3;
    text-underline-offset: 5px;
}