.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    margin: 16px;
}

@media (max-width: 500px){
    .header-container {
        gap: 16px;
    }
}